{% extends "base.html" %}

{% block content %}
<div class="posts">
	{% if error %}
		<h2 class="post-title">Not related result</h2>
	{% else %}
	{% for post in post_list %}
		<section class="post">
			<header class="post-header">
				<h2 class="post-title"><a href="{% url 'detail' post.id %}">{{ post.title }}</a></h2>
					<p class="post-meta">
						<a class="post-author" href="#">{{ post.date_time | date:'Y /m /d' }}</a> <a class="post-category-js" href="{% url 'search_tag' post.category %}">{{ post.category|title }}</a>
						<hr/>
					</p>
			</header>
		</section>
	{% endfor %}
	{% endif %}
</div><!-- /.blog-post -->
{% endblock %}