{% extends "base.html" %}


{% block content %}
<div class="posts">        
	<div class="blog-post">
		<h2 class="blog-post-title"><a href="{% url 'detail' post.id %}">{{ post.title }}</a></h2>
			<p class="blog-post-meta">
				<a href="#">{{ post.date_time|date:'Y /m /d' }}</a> 
				<a href="{% url 'search_tag' post.category %}">{{ post.category|title }}</a>
			</p>

			<div class="post-description">
				<p>
					{{ post.content }}
				</p>
			</div>
	</div>
	{% include "comment.html" %}	
</div><!-- /.blog-post -->
{% endblock %}